.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group test
      %ul.main-header__left-box__member-list
        Member :
        %li.main-header__left-box__member-list__member masa
    = link_to "#" do
      .main-header__edit-btn Edit
  .messages
    .message
      .message__upper-info
        %p.message__upper-info__talker masa
        %p.message__upper-info__date 2019/11/20(Wed) 17:43:01
      %p.message__text こんにんちは
      .message__upper-info
        %p.message__upper-info__talker masa
        %p.message__upper-info__date 2019/11/20(Wed) 17:43:34
      %p.message__text 今日は夜から雨
  .form
    %form.new-message
      .input-box
        %input.input-box__text{:placeholder => "type a message", :type => "text"}/
        %label.input-box__image{:for => "message_image"}
          %i.fa.fa-image
          %input#message_image.input-box__image__file{:name => "message[image]", :type => "file"}/
      %input.submit-btn{:name => "commit", :type => "submit", :value => "Send"}